@charset "uft-8";

/* index.html + 共有部 */

body{
  font-family: 'Shippori Mincho', serif;
  background-image: url(../images/backimg.jpg);
  background-size: auto;
  background-repeat: repeat;
  background-position: center center;
  color: #171717;
}

.wrapper{
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
}

.main_header{
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  margin: 0 auto;
  padding: 16px 40px 0 40px; 
  color: #fff;
}
.main_header .global_main{
  display: flex;
  align-items: center;
  gap: 0px;
}
h1{
  width: 164px;
  height: auto;
  padding-right: 40px;
}
.global{
  width: calc(100% - 164px);
}
.global ul{
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  justify-content: space-between;
}
.nav_inner a{
  background-image: linear-gradient(#fff,#fff);
  background-size: 0 1px;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.global ul li.booking a{
  width: 100%;
  padding: 20px 33px;
  background-color: #A49A66;
  text-align: center;
}
.global ul li.language{
  max-width: 95px;
  width: 100%;
}
.dli-chevron-down {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 1;
  width: 0.7em;
  height: 0.7em;
  border: 0.1em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateY(-25%) rotate(135deg);
  margin-left: 10px;
}
.global_hamburger{
  display: none;
}
.main_visual{
  position: relative;
  height: 723px;
  background-image: url(../images/main_visual.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.main_visual p{
  position: absolute;
  bottom: 70px;
  right: 155px;
  writing-mode: vertical-rl;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.5em;
  line-height: 2;
  text-align: right;
  color: #fff;
}
.main_content{
  height: 768px;
  margin-top: 100px;
  position: relative;
}
.main_content p{
  margin: 0 auto;
  padding-top: 130px;
  writing-mode: vertical-rl;
  font-size: 1.8rem;
  letter-spacing: 0.4em;
  line-height: 5;
}
.main_content p span{
  display: block;
}
.main_content p::before{
  content: url(../images/wave2.png);
  position: absolute;
  opacity: 0.3;
  display: inline-block;
  transform: scale(0.75);
  bottom: 50px;
  right: 0px;
}
.main_content p::after{
  content: url(../images/wave2.png);
  position: absolute;
  opacity: 0.3;
  display: inline-block;
  transform: scale(0.75);
  top: 0px;
  left: 0px;
}
.sea_img{
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}
.sea_img img{
  max-width: 1260px;
  width: 89%;
  height: auto;
}
main section{
  margin-top: 200px;
}
main .section_1{
  margin-top: 250px;
  position: relative;
}
main .section_3{
  position: relative;
}
main .section_1 .a_box::before,
main .section_3 .a_box::before{
  position: absolute;
  content: url(../images/wave1_2.png);
  display: inline-block;
  transform: scale(0.75);
  opacity: 0.3;
  left: -190px;
  bottom: -200px;
}
main .section_1 .a_box::after,
main .section_3 .a_box::after{
  position: absolute;
  content: url(../images/wave1_1.png);
  display: inline-block;
  opacity: 0.3;
  right: -100px;
  bottom: -110px;
}
main h2{
  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.15em;
}
main h2::before{
  content: "|";
  display: block;
  margin-bottom: 10px;
}
main section .lead{
  margin-top: 60px;
  text-align: center;
  font-size: 2.4rem;
  letter-spacing: 0.15em;
  line-height: 1.75;
}
main section .room span{
  display: block;
}
main section .p_img{
  text-align: center;
  margin: 0 auto;
  margin-top: 45px;
  max-width: 1100px;
  width: 100%;
  height: auto;
}
main section .slide_item{
  width: 720px;
  padding: 0 10px;
  height: auto;
}
main section .p_img img{
  width: 100%;
  height: auto;
}
main section p{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 45px;
  font-size: 1.6rem;
  line-height: 2.5;
}
main section .a_box{
  text-align: end;
}
main section p a{
  display: inline;
  padding: 0 60px 10px 10px;
  background-image: url(../images/SVG/arrow.svg);
  background-repeat: no-repeat;
  background-size: 149px;
  background-position: right bottom;
  line-height: 1.5;
}
main .news{
  margin-top: 250px;
  padding: 100px 0;
  background-color: #fff;
}
.news ul{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 36px;
}
.news li{
  margin-bottom: 51px;
}
.news img{
  width: 170px;
  height: auto;
}
.news .news_outer{
  display: flex;
  gap: 40px;
}
.news .news_content{
  width: calc(100% - 170px-40px);
}
.news .news_inner{
  display: flex;
  align-items: center;
  gap: 15px;
}
.news h3{
  max-width: 120px;
  width: 100%;
  line-height: 2.1;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.13em;
  font-weight: 400;
  background-color: #636A63;
  color: #fff;
}
.news time{
  width: calc(100% - 120px - 15px);
  font-size: 1.6rem;
  letter-spacing: 0.13em ;
}
.news p{
  line-height: 1.875;
  margin-top: 0px;
  margin-top: 12px;
}
.news  p span{
  display: block;
}
main .access{
  margin-top: 200px;
}
.access .access_wrapper{
  max-width: 1260px;
  width: 89%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  gap: 40px;
  align-items: center;
}
.access_wrapper p img{
  width: 600px;
  height: auto;
}
.access_wrapper .access_content{
  width: calc(100% - 600px - 40px);
}
.access_content section{
  margin-top: 0;
  margin-bottom: 35px;
}
.access_wrapper .access_content h3{
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  padding-left: 40px;
}
.access_content .train h3{
  background-image: url(../images/SVG/train.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left center;
}
.access_content .bus h3{
  background-image: url(../images/SVG/bus.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left center;
}
.access_content .car h3{
  background-image: url(../images/SVG/car.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left center;
}
.access_content p{
  letter-spacing: 0.13em;
  line-height: 1.5;
  margin-top: 0;
  margin-top: 10px;
}
.access_wrapper .smp{
  display: none;
}
.access_wrapper .a_box{
  text-align: end;
}
.access_wrapper p a{
  display: inline;
  padding: 0 60px 10px 10px;
  background-image: url(../images/SVG/arrow.svg);
  background-repeat: no-repeat;
  background-size: 149px;
  background-position: left bottom;
  font-size: 1.6rem;
  line-height: 1.5;
}
footer .footer_booking_wrapper{
  max-width: 1260px;
  width: 89%;
  height: 455px;
  margin: 0 auto;
  margin-top: 250px;
  background-image: url(../images/footer_view.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.footer_booking_wrapper .footer_booking_inner{
  display: flex;
  max-width: 550px;
  gap: 100px;
  margin: 0 auto;
  padding-top: 168px;
  font-size: 3.8rem;
  color: #fff;

}
.footer_booking_wrapper .footer_booking_inner .booking{
  max-width: 152px;
  width: 100%;
}
.footer_booking_wrapper .footer_booking_inner address{
  max-width: 309px;
  width: 100%;
}
.footer_booking_wrapper .footer_booking_inner address span{
  font-size: 2.4rem;
  text-transform: uppercase;
}
.footer_booking_wrapper .footer_booking_list{
  display: flex;
  justify-content: space-between;
  max-width: 525px;
  margin: 0 auto;
  color: #fff;
  font-size: 1.8rem;
  margin-top: 45px;
}
.footer_booking_wrapper .footer_booking_list li{
  text-align: center;
  width: calc(100% / 3w);
}
.footer_container{
  background-color: #636A63;
  margin-top: 170px;
  color: #fff;
}
.footer_container .footer_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1260px;
  width: 89%;
  margin: 0 auto;
  padding-top: 100px;
}
.footer_wrapper .footer_address_content{
  width: 256px;
}
.footer_wrapper .footer_address_content h2 img{
  width: 124px;
}
.footer_wrapper .footer_address_content address{
  font-size: 1.6rem;
  margin-top: 50px;
  color: #D9D9D9;
}
.footer_wrapper .footer_address_content address .tel{
  text-transform: uppercase;
}
.footer_wrapper .footer_address_content address .tell_no{
  font-size: 2.5rem;
  color: #fff;
}
.footer_wrapper .footer_address_content .address{
  margin-top: 0px;
  margin-top: 30px;
  line-height: 1.875;
}
.footer_address_content .footer_sns_list{
  display: flex;
  gap: 50px;
  margin-top: 30px;
}
.footer_wrapper nav{
  max-width: calc(100% - 256px);
  display: flex;
  gap: 100px;
  align-items: center;
}
.footer_wrapper nav ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_wrapper .nav_1{
  height: 362px;
}
.footer_wrapper .nav_2{
  height: 296px;
}
.footer_wrapper nav ul li{
  width: 100%;
}
.footer_wrapper nav ul li a{
  font-size: 1.8rem;
}
.footer_container .small{
  text-align: center;
  margin-top: 120px;
  padding-bottom: 40px;
}
.footer_container small{
  font-size: 1.2rem;
  color: #D9D9D9;
  text-align: center;
}



/* spa.html */
.spa_main_visual{
  max-width: 1900px;
  width: 100%;
  height: 565px;
  margin: 0 auto;
  background-image: url(../images/openairbath_2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.spa_main_visual h2{
  padding-top: 367px;
  font-size: 4.5rem;
  letter-spacing: 0.15em;
  writing-mode: vertical-lr;
  color: #fff;
  margin: 0 auto;
}
.spa_main_visual h2::before{
  content: none;
}
.spa .main_visual_content{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 140px;
  text-align: center;
  font-size: 1.8rem;
}
.spa .main_visual_content .lead{
  margin-bottom: 60px;
}
.spa .spa_list{
  margin-top: 150px;
}
.spa main h3{
  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.15em;
}
.spa main h3::before{
  content: "|";
  display: block;
  margin-bottom: 10px;
}
.spa main .img_box{

  max-width: 1260px;
  width: 89%;
}
.spa main .img_box img{
  width: 100%;
  height: auto;
}
.spa main .information{
  max-width: 800px;
  margin: 0 auto;
  margin-top: 250px;
  padding: 80px 47px;
  background-color: #fff;
  text-align: center;
}
.spa main .information h3{
  width: 425px;
  margin: 0 auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #171717;
}
.spa main .information h3::before{
  display: none;
}
.spa main .information h4{
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.15em;
  margin-top: 50px;
}
.spa main .information p{
  font-size: 1.6rem;
  letter-spacing: 0.13em;
  line-height: 1.5;
}
.spa main .information .spa_item{
  text-align: left;
}


/* booking.html */
.booking{
  background-image: none;
}
.booking header{
  max-width: 1260px;
  width: 89%;
  margin: 0 auto;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.booking nav{
  max-width: 265px;
  width: 100%;
}
.booking nav ul{
  display: flex;
  justify-content: space-between;
}
.booking nav ul .header_a{
  font-size: 1.4rem;
}
.booking_wrapper{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 1.4rem;
}
.booking_wrapper .plan_list{
  display: flex;
  align-items: end;
  margin-top: 38px;
  font-family:  "Noto Sans JP", sans-serif;
}
.plan_list li{
  width: calc(100% / 3);
}
.plan_list li a{
  text-align: center;
  height: 68px;
  line-height: 68px;
  border: 1px solid #171717;
  background-color: #efefef;
}
.plan_list .plan a{
  height: 103px;
  line-height: 103px;
  background-color: #fff;
}
.search_wrapper_2{
  display: none;
}
.search_wrapper{
  background-color: #F2EDD2;
  border: 1px solid #989898;
  margin-top: 40px;
  padding: 13px 14px;
  font-family:  "Noto Sans JP", sans-serif;
}
.search_wrapper .search_outer{
  display: flex;
  gap: 35px;
}
.search_wrapper .search_outer p{
  margin-bottom: 8px;
}
.search_wrapper .search_outer input,
.search_wrapper .search_outer select{
  padding: 3px;
  padding-bottom: 5px;
  border-radius: 4px;
  border: 1px solid;
}
.search_wrapper .search_outer span{
  margin-left: 5px;
}
.search_wrapper .box_1{
  margin-bottom: 20px;
}
.search_wrapper .box_2{
  gap: 28px;
  margin-bottom: 16px;
}
.search_wrapper .box_2 select{
  width: 22.5%;
}
.search_wrapper .box_2 span{
  padding: 6.5px;
}
.search_wrapper .a_box{
  width: 164px;
  text-align: center;
  margin-left: auto;
}
.search_wrapper .a_box a{
  background-color: #A49A66;
  line-height: 38px;
  color: #fff;
}
.display_part{
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.display_part_2{
  display: none;
}
.display_part p{
  width: 120px;
}
.display_part ul{
  max-width: 280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.booking .introduction h2,
.booking section .plan_outer,
.booking section ul{
  max-width: 800px;
  margin: 0 auto;
}
.booking section{
  margin-top: 47px;
  margin-bottom: 130px;
}
.booking section:last-child{
  margin-bottom: 200px;
}
.booking section h2{
  font-size: 2.4rem;
  text-align: left;
}
.booking section h2:before{
  display: none;
}
.booking section p{
  margin-top: 0;
}
.booking section .plan_outer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  margin-top: 30px;
}
.booking section p img{
  width: 419px;
  height: auto;
}
.booking section .plan_content{
  width: calc(100% - 419px);
}
.booking section .icon_box{
  padding-left: 45px;
}
.booking section .meal{
  background-image: url(../images/SVG/food.svg);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: left center; 
}
.booking section .pay{
  background-image: url(../images/SVG/coin.svg);
  background-repeat: no-repeat;
  background-size: 35px;
  background-position: left center; 
  margin-top: 12px;
}
.booking section .check_time{
  margin-top: 16px;
  line-height: 1.5;
}
.booking section .content{
  line-height: 1.5;
  text-align: justify;
  margin-top: 15px;
}
.booking section ul{
  margin-top: 30px;
}
.booking section ul li{
  display: flex;
  justify-content: space-between;
  gap: 32.5px;
  margin-bottom: 30px;
}
.booking ul li img{
  width: 223px;
  height: auto;
}
.booking ul li .plan_room_outer{
  width: calc(100% - 223px);
}
.booking ul li h3{
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 24px;
}
.booking ul li .plan_room_content{
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 19px;
}
.booking ul li .plan_room_inner{
  width: calc(100% - 164px);
  text-align: end;
}
.booking ul li span{
  font-size: 2.0rem;
  display: block;
  line-height: 1.2;
}
.booking ul li .sub{
  font-size: 1.2rem;
  line-height: 1.25;
  margin-bottom: 11px;
}
.booking ul li .a_box a{
  display: block;
  width: 164px;
  padding: 0;
  background-image: none;
  text-align: center;
  line-height: 3.4;
  font-size: 1.4rem;
  background-color: #A49A66;
  color: #fff;
}
.booking .booking_footer{
  background-color: #636A63;
  color: #fff;
  text-align: center;
  padding: 65px 0 65px 0;
}

.booking .booking_footer h2 img{
  width: 124px;
  height: auto;
}
.booking .booking_footer address{
  font-size: 1.6rem;
  margin-top: 52px;
}
.introduction_2{
  display: none;
}



@media screen and (max-width:1024px){
  .wrapper{
    width: 100%;
  }
  .main_header{
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    margin: 0 auto;
    padding: 27px 40px 0 40px; 
    display: flex;
    align-items: center;
    gap: 0px;
    color: #fff;
  }
  h1{
    width: 134px;
    padding: 0;
  }
  .main_header .global_main{
    display: none;
  }
  .global_hamburger{
    display: block;
  }
  .global_hamburger .nav h2 img{
    width: 174px;
    height: auto;
    padding: 27px 0 0 40px;
  }
  .global_hamburger .nav .nav-menu{
    text-align: center;
    padding: 0;
    margin: 0 auto;
    margin-top: 148px;
    width: 476px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
  }
  .global_hamburger .nav .nav-menu li{
    width: 38%;
    margin-bottom: 28px;
  }
  .global_hamburger .nav ul li{
    font-size: 3.0rem;
    color: #fff;
  }
  .global_hamburger .nav .booking{
    font-size: 3.0rem;
    color: #fff;
    width: 314px;
    text-align: center;
    border: 1px solid #fff;
    margin: 0 auto;
    margin-top: 120px;
    padding: 11px 96px;
  }
  .global_hamburger .nav .policy_1,
  .global_hamburger .nav .policy_2{
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
  }
  .global_hamburger .nav .policy_1 li a,
  .global_hamburger .nav .policy_2 a{
    font-size: 1.8rem;
  }
  .global_hamburger .nav .policy_1{
    width: 288px;
  }
  .global_hamburger .nav .policy_2{
    width: 350px;
    align-items: center;
    margin-bottom: 128px;
  }
  .global_hamburger .nav .policy_2 .sns{
    display: flex;
    justify-content: space-between;
    width: 176px;

  }
  .global_hamburger .nav .policy_2 img{
    width: 60px;
    padding: 15px;
    height: auto;
  }
  .main_visual{
    height: 1140px;
  }
  .main_visual p{
    bottom: 113px;
    right: 118px;
    font-size: 3.0rem;
  }
  .main_content{
    height: 675px;
  }
  .main_content p{
    width: 564px;
    margin: 0 auto;
    padding-top: 90px;
    font-size: 1.8rem;
    letter-spacing: 0.4em;
    line-height: 4;
  }
  .main_content p::before{
    transform: scale(0.75);
    bottom: -70px;
    right: -60px;
  }
  .main_content p::after{
    top: -50px;
    left: -60px;
  }
  .sea_img{
    padding: 0 40px;
  }
  .sea_img img{
    max-width: 952px;
    width: 100%;
    height: auto;
  }
  main .section_1 .a_box::before,
  main .section_3 .a_box::before{
    left: -60px;
  }
  main .section_1 .a_box::after,
  main .section_3 .a_box::after{
    right: 10px;
  }
  main section .lead{
    margin-top: 30px;
    font-size: 2.0rem;
  }
  main section .meal span{
    display: block;
  }
  main section .p_img{
  margin-top: 30px;
  width: 100%;
}
  main section p{
    max-width: 1033px;
    padding: 0 82px;
    margin-top: 35px;
    font-size: 1.4rem;
    line-height: 2.1;
  }
  .news ul{
    max-width: 1033px;
    padding: 0 82px;
    margin-top: 50px;
  }
  .news li{
    margin-bottom: 40px;
  }
  .news p{
    text-align: left;
    padding: 0;
  }
  main .access{
    margin-top: 100px;
  }
  .access .access_wrapper{
    max-width: 1033px;
    width: 100%;
    padding: 0 82px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .access_wrapper p img{
    width: 100%;
    height: auto;
  }
  .access_wrapper .access_content{
    max-width: 1033px;
    width: 100%;
  }
  .access_content p{
    font-size: 1.6rem;
    padding: 0;
  }
  footer .footer_booking_wrapper{
    max-width: 1033px;
    width: 100%;
  }
  .footer_container .footer_wrapper{
    max-width: 1033px;
    width: 100%;
    padding: 0 82px;
    padding-top: 100px;
  }
  .footer_wrapper .footer_address_content{
    width: 230px;
  }
  .footer_wrapper nav{
    max-width: calc(100% - 230px);
    gap: 70px;
  }

  /* spa.html */
.spa main section p{
  padding: 0;
}
.spa main .lead,
.spa main .lead_detail,
.spa main .spa_list,
.spa main .information{
  padding: 0 82px;
}  
.spa_main_visual {
  height: 508px;
}
.spa_main_visual h2 
{
  padding-top: 340px;
}
.spa main .spa_list{
  margin-top: 150px;
}
.spa main .spa_list section:first-child{
  margin-top: 0;
}
.spa main .img_box {
  width: 100%;
}
.spa main .information{
  padding: 82px 40px;
  width: 79.5%;
}

/* booking.html */
.booking header,
.booking .lead,
.booking_wrapper,
.introduction h2,
.booking section .plan_outer,
.booking section ul{
  padding: 0 82px;
}
.booking header{
  margin: 0;
  margin-top: 68px;
  width: 100%;
}
.search_wrapper .search_outer{
  justify-content: space-between;
  gap: 0;
}
.booking section{
margin-top: 40px;
}
.booking section h2 {
  font-size: 2.2rem;
  letter-spacing: 0;
}
.booking section .plan_outer{
  gap: 15px;
  justify-content: left;
}
.booking section .plan_content {
  width: calc(100% - 330px - 15px);
}
.booking section .icon_box {
  padding-left: 40px;
}
.booking section .meal,
.booking section .pay {
  background-size: 32px;
}
.booking section p{
  margin: 0;
  padding: 0;
}
.booking section p img {
  width: 330px;
}
.booking section ul{
  margin-top: 50px;
}
.booking section ul li{
  gap: 0;
}
.booking section ul img{
  width: 210px;
  height: auto;
}
.booking ul li .plan_room_outer{
  width: calc(100% - 210px);
  padding-left: 10px;
}
}
@media screen and (max-width:767px) {
  .wrapper{
    width: 100%;
    margin: 0 auto;
  }
  .wrapper_smp{
    max-width: 768px;
    padding: 0 20px;
  }
  .main_header{
    padding: 27px 20px 0 20px; 
  }
  .global_hamburger .nav{
    height: 856px;
  }
  .global_hamburger .nav h2 img{
    width: 154px;
    height: auto;
    padding: 27px 0 0 20px;
  }
  .global_hamburger .drawer-toggle{
    padding-right: 20px;
  }
  .global_hamburger .nav .nav-menu{
    padding: 0 42px;
    margin-top: 75px;
  }
  .global_hamburger .nav .nav-menu li{
    font-size: 2.4rem;
  }
  .global_hamburger .nav .booking{
    font-size: 2.4rem;
    width: 221px;
    margin-top: 75px;
    padding: 5px 61px;
  }
  .global_hamburger .nav .policy_1,
  .global_hamburger .nav .policy_2{
    margin-top: 75px;
    padding: 0 42px;
  }
  .global_hamburger .nav .policy_1 li a,
  .global_hamburger .nav .policy_2 a{
    font-size: 1.6rem;
  }
  .global_hamburger .nav .policy_1{
    width: 100%;
  }
  .global_hamburger .nav .policy_2{
    width: 100%;
    margin-top: 50px;
  }
  .global_hamburger .nav .policy_2 .sns{
    width: 140px;
  }
  .main_visual{
    height: 774px;
  }
  .main_visual p{
    bottom: 70px;
    right: 30px;
    font-size: 3.0rem;
    line-height: 1.5;
  }
  .main_content{
    height: 520px;
  }
  .main_content p{
    width: 255.92px;
    padding-top: 80px;
    font-size: 1.4rem;
    line-height: 2.285;
  }
  .main_content p::before{
    transform: scale(0.42);
    bottom: -80px;
    right: -140px;
  }
  .main_content p::after{
    transform: scale(0.43);
    top: -50px;
    left: -140px;
  }
  main section,
  main .section_1 {
    margin-top: 100px;
  }
  main h2{
    font-size: 2.2rem;
  }
  main .section_1 .a_box::before,
  main .section_3 .a_box::before{
    left: -250px;
    bottom: -170px;
    transform: scale(0.5);
  }
  main .section_1 .a_box::after,
  main .section_3 .a_box::after{
    right: -30px;
    bottom: -100px;
    transform: scale(0.7);
  }
  main section .lead{
    margin-top: 25px;
    font-size: 1.4rem;
    padding: 0px 20px;
  }
  main section .meal span{
    display: block;
  }
  main section .p_img{
  margin-top: 25px;
  width: 100%;
}
  main section p{
    max-width: 1033px;
    padding: 0 42px;
    margin-top: 35px;
    font-size: 1.4rem;
    line-height: 2.1;
  }
  main section .a_box {
    margin-top: 0;
    margin-top: 30px;
  }
  main .news{
    margin-top: 200px;
    padding: 50px 0;
  }
  .news ul{
    max-width: 1033px;
    padding: 0 42px;
    margin-top: 50px;
  }
  .news li{
    margin-bottom: 30px;
  }
  .news img{
    display: none;
  }
  .access .access_wrapper{
    width: 100%;
    padding: 0;
  }
  .access_wrapper .pc{
    display: none;
  }
  .access_wrapper .smp{
    display: block;
  }
  .access_wrapper .access_content{
    padding: 0 42px;
  }
  .access_content p,
  .access_wrapper p a{
    font-size: 1.4rem;
  }
  .footer_booking_wrapper{
    display: none;
  }
  .footer_container .footer_wrapper {
    padding: 0;
  }
  .footer_container {
    margin-top: 100px;
    padding: 45px 0;
    text-align: center;
  }
  .footer_wrapper nav{
    display: none;
  }
  .footer_wrapper .footer_address_content h2 img{
    width: 214px;
  }
  .footer_wrapper .footer_address_content{
    width: 100%;
  }
  .footer_wrapper .footer_address_content address {
    margin-top: 40px;
  }
  .footer_wrapper .footer_address_content .address{
    margin-top: 25px;
  }
  .footer_address_content .footer_sns_list{
    margin-top: 60px;
    gap: 82px;
    justify-content: center;
  }
  .footer_container .small{
    display: none;
  }

  /* spa.html */
  .spa main .lead,
  .spa main .lead_detail,
  .spa main .spa_list,
  .spa main .information{
    padding: 0 42px;
  }  
  .spa_main_visual {
    height: 280px;
  }
  .spa .main_visual_content{
    font-size: 1.4rem;
    margin-top: 110px;
  }
  .spa_main_visual h2 {
    padding-top: 177px;
    font-size: 3.0rem;
  }
  .spa main .spa_list{
    margin-top: 85px;
  }
  .spa main .spa_list section{
    margin-top: 100px;
  }
  .spa main h3{
    font-size: 2.2rem;
  }
  .spa main .img_box {
    width: 100%;
  }
  .spa main .information{
    width: 100%;
    padding: 45px 42px;
    margin-top: 150px;
  }
  .spa main .information h3{
    width: 100%;
    padding-bottom: 30px;
  }
  .spa main .information h4{
    font-size: 1.6rem;
    margin-top: 30px;
  }
  .spa main .information:last-child h4{
    margin-top: 37px;
  }
  .spa main .information p{
    font-size: 1.4rem;
    margin-top: 0;
    margin-top: 15px;
  }

  /* booking.html */
  .booking header{
    flex-direction: column;
    gap: 21px;
  }
  .booking header,
  .booking .lead,
  .booking_wrapper,
  .introduction_2 h2,
  .booking section .plan_outer,
  .booking section ul{
  padding: 0 42px;
  }
  .booking_wrapper {
  margin-top: 43px;
  }
  .booking_wrapper .plan_list{
    margin-top: 24px;
    padding: 0;
  }
  .search_wrapper {
    margin-top: 20px;
  }
  .search_wrapper{
    display: none;
  }
  .search_wrapper_2{
    display: block;
  }
  .search_wrapper_2{
    background-color: #F2EDD2;
    border: 1px solid #989898;
    margin-top: 40px;
    padding: 13px 15px;
    font-family:  "Noto Sans JP", sans-serif;
  }
  .search_wrapper_2 .search_outer{
    display: flex;
    width: 100%;
    gap: 30px;
  }
  .search_wrapper_2 .search_outer p{
    margin-bottom: 8px;
  }
  .search_wrapper_2 .search_outer input,
  .search_wrapper_2 .search_outer select{
    padding: 3px;
    padding-bottom: 5px;
    border-radius: 4px;
    border: 1px solid;
  }
  .search_wrapper_2 .search_outer input{
    width: 100%;
  }
  .search_wrapper_2 .search_outer span{
    margin-left: 5px;
  }
  .search_wrapper_2 .search_outer{
    margin-bottom: 16px;
  }
  .search_wrapper_2 .box_2{
    gap: 20px;
  }
  .search_wrapper_2 .box_2 .search_content{
    width: 30%;
  }
  .search_wrapper_2 .box_2 select{
    width: 60%;
  }
  .search_wrapper_2 .box_3{
    justify-content: space-between;
    gap: 0;
  }
  .search_wrapper_2 .box_3 .search_content{
    width: 30%;
  }
  .search_wrapper_2 .box_3 select{
    width: 60%;
  }
  .search_wrapper_2 .box_4{
    margin-top: 7px;
    gap: 10px;
  }
  .search_wrapper_2 .a_box{
    width: 100%;
    text-align: center;
    margin-left: auto;
  }
  .search_wrapper_2 .a_box a{
    background-color: #A49A66;
    line-height: 38px;
    color: #fff;
    margin-top: 27px;
  }
  .display_part{
    display: none;
  }
  .display_part_2{
    margin-top: 50px;
    display: block;
    display: flex;
    justify-content: space-between;
  }
  .display_part_2 .recommend{
    padding: 4px 23px 5px 13px;
    border: 1px solid #171717;
    border-radius: 3px;
  }
  .recommend{
    position: relative;
    padding: 0 0 0 0;
}
.recommend::after{
    content: "";
    position: absolute;
    top: 12px;
    right: 5px;
    border: 4px solid transparent;
    border-top: 4px solid #555;   /* 好みで色を変えてください */  
}
.introduction{
  display: none;
}
.introduction_2{
  display: block;
}
.booking section{
  margin-top: 35px;
  margin-bottom: 100px;
}
.booking section h2{
  margin-top: 30px;
  font-size: 2.0rem;
}
.booking section p.img_box img {
  width: 100%;
  height:  auto;
}
.booking section .plan_outer{
  flex-direction: column;
}
.booking section .plan_content{
  width: 100%;
}
.booking section .meal,
.booking section .pay {
  padding-top: 3px;
  padding-bottom: 3px;
}
.booking section .pay{
  margin-top: 10px;
}
.booking section .content{
  margin-top: 30px;
  font-size: 1.6rem;
}
.booking section ul li{
  flex-direction: column;
  margin-bottom: 80px;
}
.booking section ul img{
  width: 100%;
}
.booking ul li .plan_room_outer {
  width: 100%;
  padding: 0;
}
.booking ul li .plan_room_content {
  flex-direction: column;
}
.booking ul li .plan_room_inner{
  width: 100%;
}
.booking ul li .sub{
  margin-bottom: 5px;
}
main section .a_box{
  margin-top: 15px;
  width: 100%;
}
.booking ul li .a_box a{
  display: block;
  width: 100%;
  line-height: 2.95;
}
.booking section:last-child{
  margin-bottom: 110px;
}
}


@media (hover:hover){
  .nav_inner a:hover{
    background-size: 100% 1px;
    transition: all .3s;
  }
  .booking header nav a:hover{
    border-bottom: 1px solid #171717;
  }
  .footer_booking_wrapper .footer_booking_inner a:hover,
  .footer_booking_list a:hover,
  .footer_container a:hover{
    opacity: 0.8;
  }
  .global ul li.booking a:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #A49A66;
    transition: all 0.5s ease-in-out;
  }
  .booking ul li .a_box a:hover {
background-color: #fff;
border: 1px solid #A49A66;
color: #A49A66;
transition: all 0.5s ease-in-out;
  }
}